<div class="container">
  <h1>Sign Up</h1>
  <mat-stepper #stepper>
    <mat-step [stepControl]="credentialsForm">
      <mat-card>
        <form [formGroup]="credentialsForm">
          <ng-template matStepLabel>Credentials</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Username" required type="text">
            <mat-error *ngIf="username?.errors?.pattern">
              4 to 15 characters and only: letters, numbers, _ and -.
            </mat-error>
            <mat-error *ngIf="username?.errors?.usernameTaken">
              The username is already taken.
            </mat-error>
            <mat-error *ngIf="username?.errors?.required">
              The username is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" required type="text">
            <mat-error *ngIf="email?.errors?.email">
              The email address isn't valid.
            </mat-error>
            <mat-error *ngIf="email?.errors?.required">
              The email address is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password" required type="password">
            <mat-error *ngIf="password?.errors?.minlength">
              The password must be at least 8 characters long.
            </mat-error>
            <mat-error *ngIf="password?.errors?.required">
              The password is required.
            </mat-error>
          </mat-form-field>
          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-card>
    </mat-step>
    <mat-step [stepControl]="extraForm">
      <mat-card>
        <form [formGroup]="extraForm">
          <ng-template matStepLabel>Extra info</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="First Name" type="text">
            <mat-error *ngIf="firstName?.errors?.pattern">
              The first name must have only letters, spaces and -.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last Name" type="text">
            <mat-error *ngIf="lastName?.errors?.pattern">
              The last name must have only letters, spaces and -.
            </mat-error>
          </mat-form-field>
          <!--          <mat-label>Upload a photo</mat-label>-->
          <!--          <input formControlName="photo" type="file" placeholder="Photo" accept=".png,.jpg">-->
          <mat-form-field appearance="outline">
            <mat-label>Add a description</mat-label>
            <textarea formControlName="description" matInput placeholder="Description" type="text"></textarea>
            <mat-error *ngIf="description?.errors?.pattern">
              Only letters, numbers, spaces, ?, !, (, ), #, - and _, and maximum 100 characters.
            </mat-error>
          </mat-form-field>
          <button mat-button matStepperPrevious>Back</button>
        </form>
      </mat-card>
      <button (click)="signUp()" [disabled]="!credentialsForm.valid" color="primary" mat-flat-button type="submit">Sign
        Up
      </button>
    </mat-step>
  </mat-stepper>
  <div class="sign-up">
    <p>Already have an account?</p>
    <a [routerLink]="['/sign-in']" color="primary" mat-button>Sign In</a>
  </div>
</div>
