<div *ngIf="post" class="post">
  <div class="post-header">
    <avatar [avatar]="{size: 'lg'}"></avatar>
    <div class="post-info">
      <h2>{{post.username}}</h2>
      <p>{{post.description}}</p>
    </div>
  </div>
  <div class="post-body">
    <p>{{post.message}}</p>
  </div>
<!--  <div class="post-buttons">-->
<!--    <input-option [icon]="'thumb_up_alt_outline'" [title]="'like' | titlecase"></input-option>-->
<!--    <input-option [icon]="'chat_outline'" [title]="'comment' | titlecase"></input-option>-->
<!--    <input-option [icon]="'share_outline'" [title]="'share' | titlecase"></input-option>-->
<!--    <input-option [icon]="'send_outline'" [title]="'send' | titlecase"></input-option>-->
<!--  </div>-->
</div>
