<div class="feed-input-container" *ngIf="authService.isLoggedIn">
  <div class="feed-input">
    <mat-icon>create</mat-icon>
    <form (ngSubmit)="addPost()">
      <input [(ngModel)]="inputValue" name="post" type="text">
      <button type="submit">Send</button>
    </form>
  </div>
  <!--  <div class="feed-input-options">-->
  <!--    <input-option [title]="'photo' | titlecase" [icon]="'image'" [color]="'#70B5F9'"></input-option>-->
  <!--    <input-option [title]="'video' | titlecase" [icon]="'subscriptions'" [color]="'#E7A33E'"></input-option>-->
  <!--    <input-option [title]="'event' | titlecase" [icon]="'event_note'" [color]="'#C0CBCD'"></input-option>-->
  <!--    <input-option [title]="'write article' | titlecase" [icon]="'calendar_view_day'" [color]="'#7FC15E'"></input-option>-->
  <!--  </div>-->

</div>

<div class="posts" *ngIf="authService.isLoggedIn">
  <post *ngFor="let post of posts" [post]="post"></post>
</div>

