:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/images/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feed-input-container {
  padding: 0.625rem 0.625rem 1.25rem 0.625rem;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
}

.feed-input {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 1.875rem;
  display: flex;
  color: gray;
  padding: 0.625rem 0.625rem 0.625rem 0.938rem;
}

.feed-input > form {
  display: flex;
  width: 100%;
}

.feed-input > form > input {
  border: none;
  flex: 1;
  margin-left: 0.625rem;
  outline-width: 0;
}

.feed-input > form > button {
  display: none;
}

.feed-input-options {
  display: flex;
  justify-content: space-evenly;
}

.posts {
  display: flex;
  flex-direction: column;
  width: 35%;
}
