.container {
  margin-top: 1rem;
  position: relative;
}

.like-reaction {
  margin-top: 0.625rem;
  position: relative;
}

.display-reactions {
  display: flex;
  align-items: center;
}

.reactions {
  display: flex;
  padding: 0.4rem 0;
}

.emojis > span > img {
  transition: ease-in-out 100ms;
   &:hover {
     width: 40px;
     object-fit: contain;
   }
}

.like {
  padding: 0.2rem;
  &:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
  }
}
