.comment {
  position: relative;
}

.comment-header {
  display: flex;
  margin-bottom: 0.625rem;
  cursor: pointer;
  z-index: 1;
}

.comment-info {
  margin-left: 0.625rem;
}

.comment-info > p {
  font-size: 12px;
  color: gray;
}

.comment-body {
  overflow-wrap: anywhere;
  margin: 1rem 0;
}

.menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
