<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1>Sign in</h1>
  <mat-card>
    <form [formGroup]="signInForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text" placeholder="Username" required>
        <mat-error *ngIf="email?.errors?.email">
          The email address isn't valid.
        </mat-error>
        <mat-error *ngIf="email?.errors?.required">
          The email address is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="Password" required>
        <mat-error *ngIf="password?.errors?.minlength">
          The password must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="password?.errors?.required">
          The password is required.
        </mat-error>
      </mat-form-field>
    </form>
    <button type="submit" mat-flat-button color="primary" [disabled]="!signInForm.valid" (click)="signIn()">Sign in</button>
  </mat-card>
  <div class="sign-up">
    <p>Don't have an account?</p>
    <a mat-button color="primary" [routerLink]="['/sign-up']">Sign Up</a>
  </div>
</div>
