<div *ngIf="user" class="profile">

  <div class="sidebar">
    <div class="sidebar-top">
      <img alt="" src="{{backdropUrl}}">
      <div class="sidebar-avatar">
        <avatar [avatar]="{source: user.photo, size: 'lg'}"></avatar>
      </div>
      <h2>{{user.firstName}} {{user.lastName}}</h2>
      <h4>{{user.email}}</h4>
    </div>
    <div class="sidebar-info">
      <h2>{{user.username}}</h2>
      <p>{{user.description}}</p>
    </div>
    <div class="sidebar-stats">
      <div class="sidebar-stat">
        <p>Post count:</p>
        <p class="sidebar-stat-number">{{countPosts()}}</p>
      </div>
    </div>
    <button (click)="makeModerator()"
            *ngIf="user && authService.currentUser && !user.isModerator && authService.currentUser.isModerator"
            color="primary"
            mat-flat-button
            type="button"
    >
      Make Moderator
    </button>
  </div>

</div>
<div class="posts">
  <post *ngFor="let post of posts" [post]="post"></post>
</div>
